@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Trispace:wght@200&display=swap');
body {
    font-family: 'Fjalla One', sans-serif;
}



ul {
    list-style: none;
}
li{
    list-style: none;
}

.primeraSeccion {
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size: 25px;  
    background: radial-gradient(#0e0d0d9a,black , rgb(46, 43, 43) , rgb(65, 62, 62) );
  
    
}



body {
    background-image: url('../img/57-576139_grunge-black-background-background-gru-grunge-black-grunge.jpg');
}

h1 {
    color: rgb(236, 236, 236);
}



h2 {
    color: white;
    text-align: center;
}
h3 {
    color: white;
}

p {
    color: white;
    
}




a {
    color: rgb(231, 216, 216);
}

 main {
    color: white;
 }

 footer {
    color: white;
 }

 li { color: white;}



img {
  
    width: 50%;
}

.cambiamosDisplay {
 display: block;
}
footer {
    text-align: center;
}

main {
   
    text-align: center;
}



.contenedor {
 
  text-align: center; 
  background-color: rgb(0, 0, 0);
    padding: 3px;
    border: black solid;
    width: 600px;
    height: 300px;
    border: 1px solid rgb(255, 249, 249);
    
}



.caja3Era {
    border: 2px rgb(0, 0, 0) solid;
    width: 475px;
    height: 200px;
   
    background-image: url('../img/tlou\ menu.jpg');
    background-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
   
     
    
    
}

.caja3 {
    background-color: rgb(0, 0, 0);
    color: rgb(247, 247, 247);
    border: 2px solid rgb(247, 238, 238);
    height: 15%;
    width: 25%;
    text-align: center;
  
    
}

.img2Dos {
    width: 200px;
}

.img3Tres {
    width: 200px;
}



header {
    grid-area: header;
}

main {
    grid-area: main;
}

h2 {
    grid-area: h2;
}

p {
    grid-area: p;
}



img {
    grid-area: img;
}


footer {
    grid-area: footer;
}

li {
    grid-area: li;
}
nav {
    grid-area: nav;
}

.img2Dos {
    grid-area: img2;
}

.img3Tres {
    grid-area: img3;
}

.li1 {
    grid-area: li1
}

.li2 {
    grid-area: li2;
}

.ul1Uno{
    grid-area: ul;
}


@media (min-width:320px) {
    .gridPadre {
      /*  display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "main" 
         "h2"
         "ul"
        "li1"
        "img2"
        "p p"
        "li2"
        "img3"
        "p"
        "footer"
        ; */
        gap: 40px;
    }

}


@media (min-width:480px) {
    .gridPadre {
       /* display: grid;
        grid-template-areas: 
        "header"
        "main"
        "nav"
         "h2"
         "ul"
        "li1"
        "img2"
        "p"
        "li2"
        "img3"
        "p"
        "footer"
        
        ; */
        gap: 40px;
    }

}




@media (min-width:600px) {
    .gridPadre {
      /*  display: grid;
        grid-template-areas: 
        "header header"
        "nav nav" 
        "main main"
         "h2 h2"
         "ul ul"
        "li1 li1"
        "img2 img2"
        "p p"
        "li2 li2"
        "img3 img3"
        "p p"
        "footer footer"
    
        ; */
        gap: 40px;
    }

}

@media (min-width:768px) {
    .gridPadre {
      /*  display: grid;
        grid-template-areas: 
        "header header"
        
        "nav nav"
        "main main"
         "h2 h2"
         "ul ul"
        "li1 li1"
        "img2 img2"
        "p p"
        "li2 li2"
        "img3 img3"
        "p p"
        "footer footer"
        
        ; */
        gap: 40px;
    }

}

@media (min-width:1024px) {
    .gridPadre {
      /*  display: grid;
        grid-template-areas: 
        "header header header"
        "main main nav"
        "h2 h2 h2"
         "ul ul ul"
        "li1 li1 li1"
        "img2 p p"
        "li2 li2 li2"
        "img3 p p"
        "footer footer footer"
        
        ; */
        gap: 40px;
    }

}

@media (min-width:1200px) {
    .gridPadre {
      /*  display: grid;
        grid-template-areas: 
        "header header header header"
        "main main main nav"
        "h2 h2 h2 nav "
        "ul ul ul ul"
        "li1 li1 li1 li1"
        "img2 p p p"
        "img2 p p p"
        "li2 li2 li2 li2"
        "img3 p p p"
        "img3 p p p"
        "footer footer footer footer"
        ; */
        gap: 40px;
    }

}

p {
    top: 10px;
}


